@import 'https://fonts.googleapis.com/css?family=Merriweather|Open+Sans';

$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow:   #FFBA00;
$purple: #6D73C2;
$red: red;
$blue:#0099CC;
$black: #000;


$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
$color-headlines:$red;
$color-item-border: $red;
$color-media-head: $blue;